.basket {
    padding-top: 30px;
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.basket__total {
    position: fixed;
    top: 95%;
    left: 85%;
}